<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
      <div class="card-container">
        <!-- Menu Item Card -->
        <div class="card fadeInKiri">
          <a href="content/add.html">
            <h3>
              <i class="fas fa-plus-circle"></i>
            </h3>
            <div class="card-label">
              <p>New quesioner</p>
            </div>
          </a>
        </div>

        <div class="card fadeInAtas">
          <a href="content/quesioner.html">
            <h3>
              <i class="fas fa-eye"></i>
            </h3>
            <div class="card-label">
              <p>Publish</p>
            </div>
          </a>
        </div>

        <div class="card fadeInBawah">
          <a href="content/result.html">
            <h3>
              <i class="fas fa-poll"></i>
            </h3>
            <div class="card-label">
              <p>Result</p>
            </div>
          </a>
        </div>

        <div class="card fadeInKiri">
          <a href="content/add.html">
            <h3>
              <i class="fas fa-plus-circle"></i>
            </h3>
            <div class="card-label">
              <p>New quesioner</p>
            </div>
          </a>
        </div>

        <div class="card fadeInAtas">
          <a href="content/quesioner.html">
            <h3>
              <i class="fas fa-eye"></i>
            </h3>
            <div class="card-label">
              <p>Publish</p>
            </div>
          </a>
        </div>

        <!-- CARD BLOCK -->
        <div class="card-block fadeInKiri">
          <a href="content/quesioner.html">
            <h3>New Blog</h3>
            <div class="card-label">
              <p>About New Blog</p>
            </div>
          </a>
        </div>
        <div class="card-block fadeInKanan">
          <a href="content/quesioner.html">
            <h3>
              <i class="fas fa-plus-circle"></i>
            </h3>
            <div class="card-label">
              <p>Add Content</p>
            </div>
          </a>
        </div>

        <div class="card-block fadeInKiri">
          <a href="content/quesioner.html">
            <h3>
              <i class="fas fa-plus-circle"></i>
            </h3>
            <div class="card-label">
              <p>Add Content</p>
            </div>
          </a>
        </div>
        <!-- END Menu Item Card -->
      </div>
    </div>

    <!-- Modal Menu -->
    <%- include('./partials/modal-auth.ejs') %>
    <!-- END Modal -->

    <!-- <%- include('./partials/footer.ejs') %> -->

    <%- include('./partials/footer-script.ejs') %>
  </body>
</html>
