<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="card-container">
          <!-- Code here -->

          <!-- END Code Here -->
        </div>
      </div>

      <%- include('../partials/modal-auth.ejs') %>
        <%- include('../partials/footer.ejs') %>
          <%- include('../partials/footer-script.ejs') %>
            <script>
              const trashcan = document.querySelector('button.tmb-batal')

              trashcan.addEventListener('click', (e) => {
                const endpoint = `/qbank/${trashcan.dataset.doc}`

                fetch(endpoint, {
                  method: 'DELETE'
                })
                  .then((response) => response.json())
                  .then((data) => window.location.href = data.redirect)
                  .catch(err => console.log(err))
              })
            </script>
  </body>

</html>