<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <div class="card-container">
        <!-- Code here -->
        <div class="card-block fadeIn">
          <h2>
           Detail
          </h2>
          <h3 class="card-label">
            label
          </h3>
        </div>
        <button class="tombol-block tmb-batal fadeInBawah" data-doc=""><i class="fas fa-trash-alt"></i></button>
        <!-- END Code Here -->
      </div>
    </div>

      <%- include('../partials/modal-auth.ejs') %>
        <%- include('../partials/footer.ejs') %>
          <%- include('../partials/footer-script.ejs') %>
            <script>
              const trashcan = document.querySelector('button.tmb-batal')

              trashcan.addEventListener('click', (e) => {
                const endpoint = `/qbank/${trashcan.dataset.doc}`

                fetch(endpoint, {
                  method: 'DELETE'
                })
                  .then((response) => response.json())
                  .then((data) => window.location.href = data.redirect)
                  .catch(err => console.log(err))
              })
            </script>
  </body>

</html>